body {
  color: #2230ad;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-image: url(sfondo.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
}

.start {
  color: #2230ad;
  font-size: 25px;
}

div.a{
  padding-top: 10%;
  padding-bottom: 10%;
}

button {
  color: #2230ad;
  border-style: solid;
  border-width: 3px;
  margin: 50px;
}

#score{
  font-weight: 600;
}

h1 {
  font-size: 36px;
}

p{
  font-size: 15px;
}

div.riquadro{
  background-color: #ffeecfa9;
  font-size: 15px;
  margin-left: 220px;
  margin-right: 220px;
  padding: 10px;
}

img.squat{
max-width: 100%;
}
